<?xml version="1.0" encoding="utf-8" ?>
    <suite name ="DiscuzWhiteTest">
        <parameter name="Browser" value="chrome"/>

        <test name="product">
        <classes>
            <class name="testcase.TestLogin"/>
            <!--<class name="testcase.TestAdmin_User"/>-->
            <class name="testcase.TestSearch"/>
            <class name="testcase.TestVote"/>
        </classes>
    </test>
    </suite>